<header id="main-header">
	<div id="logo">
		<a href="/">GuanJo</a>
		<!-- <form action="/products" method="GET">
			<div class="search-box">
				<button class="btn-search"><i class="fas fa-search"></i></button>
				<input type="text" name="search" class="input-search" placeholder="Type to Search...">
			</div>
		</form> -->
	</div>
	
	<nav>
		<%- include('nav-items')  %>
	</nav>
	<button id="mobile-menu-btn">
		<span></span>
		<span></span>
		<span></span>
	</button>
</header>
<aside id="mobile-menu">
	<nav>
		<%- include('nav-items')  %>
	</nav>
</aside>